
h1 {
  margin-left: 20px;
}

#dataclass {
  margin-left: 10px;
  background: #d2def2;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border-radius: 20px;
  float: left;
}


input {
  margin-bottom: 20px;
  display: block;
}


p.font-weight-bold {
  padding-top: 10px;
  padding-bottom: 5px;
}

a:link {
  color: blue;
  font-style: italic;
}


.mc {
  display: inline;
}

.list {
  margin: 0 0 0 25px;
  padding: 0;
}

.info {
  font-style: italic;
  margin: 0 0 25px 10px;
  padding: 0;
}

#followuphumans1 {
  display: none;
}

#followuphumans2 {
  display: none;
}

#followuphumans3 {
  display: none;
}

#followupinteg {
  margin-bottom: 20px;
  margin-left: 80px;
  display: none;
}

#integ:checked ~ #followupinteg {
  margin-bottom: 20px;
  margin-left: 80px;
  display: block;
}

#followuppreg {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#preg:checked ~ #followuppreg {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followuphealth {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#health:checked ~ #followuphealth {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupexp {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#exp:checked ~ #followupexp {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupses {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#ses:checked ~ #followupses {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupobs {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#obs:checked ~ #followupobs {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupobsav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: none;
}

#obsav:checked ~ #followupobsav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: block;
}


#followupquest {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#quest:checked ~ #followupquest {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupqual {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#qual:checked ~ #followupqual {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupqualav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: none;
}

#qualav:checked ~ #followupqualav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: block;
}

#a1risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#a2risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#a3risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#a4risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#a5risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#integ:checked ~ #i1risk_submit {
  display: none;
}

#i1risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#i1arisk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#i1brisk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#i2risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#i2risk_extratip {
  display: none;
}

#i3risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#i4risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#c1risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#c2risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#v1risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#v23risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#v4risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#v5risk_submit {
  background: #b3b3b3;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#after_submit {
  background: #ffd700;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  display: none;
}

#privacy {
  display: none;
}

#submitbtn {
  background: green;
  transition-duration: .5s;
  margin-top: 15px;
}

#submitbtn:hover {
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}
#printbtn {
  background: green;
  transition-duration: .5s;
  margin-top: 15px;
  margin-bottom: 30px;
}

#printbtn:hover {
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}
