
h1 {
  margin-left: 20px;
}

#dataclass {
  margin-left: 10px;
  background: #d2def2;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border-radius: 20px;
  float: left;
}


input {
  margin-bottom: 20px;
  display: block;
}


p.font-weight-bold {
  padding-top: 10px;
  padding-bottom: 5px;
}

#submitbtn {
  background: green;
  transition-duration: .5s;
  margin-top: 15px;
}

#submitbtn:hover {
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}
#printbtn {
  background: green;
  transition-duration: .5s;
  margin-top: 15px;
}

#printbtn:hover {
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

.mc {
  display: inline;
}



.list {
  margin: 0 0 0 25px;
  padding: 0;
}

.info {
  font-style: italic;
  margin: 0 0 25px 10px;
  padding: 0;
}

#followuppreg {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#preg:checked ~ #followuppreg {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followuphealth {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#health:checked ~ #followuphealth {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupexp {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#exp:checked ~ #followupexp {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupses {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#ses:checked ~ #followupses {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupobs {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#obs:checked ~ #followupobs {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupobsav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: none;
}

#obsav:checked ~ #followupobsav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: block;
}


#followupquest {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#quest:checked ~ #followupquest {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupqual {
  margin-bottom: 20px;
  margin-left: 50px;
  display: none;
}

#qual:checked ~ #followupqual {
  margin-bottom: 20px;
  margin-left: 50px;
  display: block;
}

#followupqualav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: none;
}

#qualav:checked ~ #followupqualav {
  margin-bottom: 20px;
  margin-left: 80px;
  display: block;
}

#after_submit {
  background: #ffd700;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 70%;
  align-self: flex-end;
  visibility: hidden;
}
